@import "tokyonight.css";

* {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#workspaces {
  border: solid 0px #cdd6f4;
}
#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: @fg;
}

#workspaces button.active {
  color: @bg;
  background-color: @cyan;
  border-radius: 16px;
}

#workspaces button:hover {
  background-color: #cdd6f4;
  color: @bg;
  border-radius: 16px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
  color: @fg;
}

#bluetooth {
  color: @blue;
}

#pulseaudio {
  color: @magenta;
}

#network {
  color: @cyan;
}

#temperature {
  color: @green;
}

#battery {
  color: @orange;
}

#window {
  color: @purple;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @teal;
}

.modules-right,
.modules-center {
  background-color: @bg;
  border-radius: 12px;
  padding: 0 8px;
} 

.modules-left {
  background-color: @bg;
  border-radius: 12px;
} 
